body{
    background-color:#cce5ff ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3;
    padding: 0;
    height: 100%;
    max-width: auto;
}
.logo1{
    position: relative;
    top: -60px;
}

.naslovAboutUs{
    position: relative;
    left: auto;
    top: -50px;
    font-size: 40px;
    text-align: center;
}

.textAboutUs{
    position: relative;
    top: -20px;
    font-size: 18px;
    text-align: justify;
    margin: 3px;
    box-sizing: border-box;
}
.textAboutUs::after{
  content: "";
    display: table;
    clear: both; 
}
.maltekst{
    position: relative;
    top: -1px;
    font-size: 18px;
    
}
nav {
    background-color: #5ca2e49a;
    padding: 10px 0;
    position: relative;
    top: -110px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  a:hover {
    background-color: #ddd7d7;
    border-radius: 8px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
.linkPremier{
    color: rgb(7, 47, 133);
}
.linkPremier:hover{
    color:purple ;
    background-color:rgb(70, 226, 174) ;
}
.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
}
  
.footer a {
    color: #fff; 
    text-decoration: none; 
}
  
.footer a:hover {
    text-decoration: underline; 
}
  .slika1{
    position: relative;
    max-width: 100%; 
    height: auto; 
    display: block;
    top: 20px;
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
  }
  .slika1:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  .sl2{
    position: relative;
    max-width: 100%; 
    height: auto; 
    display: block;
    top: 20px;
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
  }
  .sl2:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .linkSponsorship{
    color: rgb(7, 47, 133);
}
.linkSponsorship:hover{
    color:purple ;
    background-color:rgb(70, 226, 174) ;
}
.trophy{
    position: relative;
    max-width: 100%; 
    height: auto; 
    display: block;
    top: 20px;
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
}
.trophy:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}