.container {
    max-width: 380px;
    margin: 0 auto;
    padding: 20px;
  }
  .poraka{
    text-align: center;
  }
  .form-group {
    margin-bottom: 20px;
    padding-right: 15px;
  }
  
  input[type="date"],
  input[type="time"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } 
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
  }
  nav {
    background-color: #5ca2e49a;
    padding: 10px 0;
    position: relative;
    top: -110px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  .nvy {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  .nvy:hover {
    background-color: #ddd7d7;
    border-radius: 8px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .naslov_insert{
    text-align: center;
  }
  .footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
}
  
.footer a {
    color: #fff; 
    text-decoration: none; 
}
  
.footer a:hover {
    text-decoration: underline; 
}