
body {
  font-family: Arial, Helvetica, sans-serif;
    margin: 3;
    padding: 0;
    height: 100%;
    
    background-color:#cce5ff ;  
    
}
.Naslov{
  position: relative;
  left: auto;
  top: -50px;
  font-size: 40px;
  text-align: center;
}
.logo1{
  position: relative;
  top: -60px;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 50px;
    display: inline-block;
    padding-left: 5px;
}
.Igraci th{
  background-color:rgb(0, 32, 15);
  color: white;

}

th, td {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #0e0d0d;
    width:1%;
    
}

th {
    background-color: #055c3b;
}

.row {
    display: flex;
  }
  
.square {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid black;
    color: #fff;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
  }
.square1 {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #fff;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
   }
  
  .W {
    background-color: white;
    background: green;
  }
  
  .D {
    background-color: rgb(245, 241, 241);
    background: rgb(230, 189, 7);
  }
  .L{
    background-color: white;
    background: red;
  }
  .LS{
    background-color: white;
    background: rgb(6, 99, 206);
    overflow-x: auto;
    overflow-y: auto;
    border-collapse: collapse;
    display: inline-block;
  }
  .LE{
    background-color: white;
    background: rgb(56, 8, 0);
    overflow-x: auto;
    overflow-y: auto;
    border-collapse: collapse;
    display: inline-block;
  }
  .LK{
    background-color: white;
    background: rgb(153, 133, 21);
    overflow-x: auto;
    overflow-y: auto;
    border-collapse: collapse;
    display: inline-block;
  }
  .ISP{
    background-color: white;
    background: rgb(218, 2, 2);
    overflow-x: auto;
    overflow-y: auto;
    border-collapse: collapse;
    display: inline-block;
  }
  
  nav {
    background-color: #5ca2e49a;
    padding: 10px 0;
    position: relative;
    top: -110px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  .nvy {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  .nvy:hover {
    background-color: #ddd7d7;
    border-radius: 8px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
 
  .footer {
        background-color: #333; 
        color: #fff; 
        padding: 20px; 
        text-align: center; 
        width: auto;
        bottom: 0;
        right: 0;
        left: 0;
  }
      
  .footer a {
        color: #fff; 
        text-decoration: none; 
  }
      
  .footer a:hover {
        text-decoration: underline; 
  }
  .malologo {
        height: 20px;
        width: auto;
        margin-right: 5px;      
 }
 .collage {
  display: inline-flex; 
  gap: 10px; 
}

.image {
  position: relative;
  overflow: hidden;
  width: 400px; 
  height: 350px; 
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
.image {
  position: relative;
  overflow: hidden;
  width: 230px; 
  height: 170px; 
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
}

}
.image:hover img {
  transform: scale(1.1); 
}  
.scroll-container {
  overflow-x: auto;
  white-space: nowrap; 
}
.linija{
  border: 1px solid rgb(0, 0, 0);
  width: auto;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw; 
}

.player-card {
  display: flex;
  width: auto;
  background-color: #e0f2ff;
  border-radius: 5vw; 
  box-shadow: 0 2vw 4vw rgba(0,0,0,0.1); 
  padding: 5vw; 
  align-content: center;
}
.player-card2{
  display: flex;
  width: auto;
  background-color: #1445e4;
  border-radius: 5vw; 
  box-shadow: 0 2vw 4vw rgba(0,0,0,0.1); 
  padding: 5vw; 
  align-content: center;
}
.player-card3{
  display: flex;
  width: auto;
  background-color: #c92519;
  border-radius: 5vw; 
  box-shadow: 0 2vw 4vw rgba(0,0,0,0.1); 
  padding: 5vw; 
  align-content: center;
}
.linkgol{
  align-items: left;
  align-content: flex-start;
  
  font-style: italic;
}

.player-info {
  display: flex;
  flex-direction: column;
  margin-left: 5vw; 
}

.player-stats {
  margin-top: 5vw; 
  font-size: 30px;
}

.player-stats p {
  margin-bottom: 2vw; 
  font-weight: bold;
}

.player-stats span {
  font-weight: normal;
}

.player-name {
  font-size: 6vw; 
  font-weight: bold;
  margin-bottom: 2vw; 
}

.player-position {
  font-style: italic;
  color: #666;
  font-size: 25px;
}
.player-position2{
  color: #0e0d0d;
  font-style: italic;
  font-size: 25px;
}

.player-image img {
  width: auto; 
  height: 30vw; 
  border-radius: 5vw; 
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .container {
    margin: 10px;
  }
  
  .player-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .player-card2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .player-card3{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .player-info {
    margin: 20px 0;
  }
  
  .player-image {
    width: 100%;
    height: auto;
  }
  .player-stats{
    font-size: 18px;
  }
  .player-name{
    font-size: 32px;
  }
}
.palmer-naslov{
  text-align: center;
  font-size: 35px;
}
.video-container{
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: auto;
}
.naslovGol{
  text-align: center;
}
.containerEKIPI{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}

.team {
  margin: 10px;
}

.team img {
  width:70px; 
  height:40px;
  object-fit:contain;
}
.team:hover img {
  transform: scale(1.1); 
  transition: 0.3s;
}

@media screen and (max-width: 568px) {
  .team img {
      width: 80px; 
      
  }
}

@media screen and (max-width: 576px) {
  .team img {
      width: 60px;
      
  }
}
.tim2425{
  text-align: center;
}
.Fixcontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
}

.fixture {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.fixture h2 {
  margin-top: 0;
}

.fixture p {
  margin: 5px 0;
}
.fix{
  color: rgb(7, 47, 133);
  font-size: 20px;
}

.naslov24-25{
  text-align: center;
  font-size: 50px;
}
.raspored{
 height: 40px;
 width: auto; 
}
.raspored:hover{
  color:purple ;
  background-color:rgb(70, 226, 174) ;
}